
:root {
    --line-color-blue: #88f7fc;
    --glow-color-blue: #00ffff;

    --line-color-orange: #fca558;
    --glow-color-orange: #f07d18;
    --line-color-orange-transparent: #fca55888;

    --line-color-green: #abff8a;
    --glow-color-green: #00ff20;

    --grid-unit: 1.75vw;
    --bubble-width: calc(2 * var(--grid-unit));
    --tab-width: calc(7 * var(--grid-unit));
    --app-width: calc(17 * var(--grid-unit));
    --border-radius: calc(0.5 * var(--grid-unit));
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Consolas';
}

body {
    background-color: #000000;
}

div {
    background-color: transparent;
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
    white-space: nowrap;
}
svg {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}



.bubble {
    color: var(--line-color-orange);
    background-color: transparent;
    border: 2px solid var(--line-color-orange);
    border-radius: 50%;
    filter: drop-shadow(0 0 2px var(--glow-color-orange));

    display: inline-block;
    position: absolute;
    overflow: hidden;
    width: var(--bubble-width);
    height: var(--bubble-width);
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.tab {
    color: var(--line-color-orange);
    background-color: transparent;
    border: 2px solid var(--line-color-orange);
    border-right: transparent;
    border-radius: var(--border-radius) 0 0 var(--border-radius);
    filter: drop-shadow(0 0 2px var(--glow-color-orange));

    display: inline-block;
    position: absolute;
    /* overflow: hidden; */
    width: var(--tab-width);
    height: var(--bubble-width);
    top: 50%;
    left: 50%;
    transform: translate(-100%,-50%);
}
.app {
    color: var(--line-color-orange);
    background-color: transparent;
    border: 2px solid var(--line-color-orange);
    border-radius: var(--border-radius) var(--grid-unit) var(--border-radius) var(--border-radius);
    filter: drop-shadow(0 0 2px var(--glow-color-orange));

    display: inline-block;
    position: absolute;
    /* overflow: hidden; */
    width: var(--app-width);
    height: var(--tab-width);
    top: 50%;
    left: 50%;
    transform: translate(calc(-100% + var(--grid-unit)),calc(0% - var(--grid-unit)));
}


.circle {
    background-color: transparent;
    border: 1px solid var(--line-color-orange);
    border-radius: 50%;
}
.circle-filled {
    background-color: var(--line-color-orange);
    border: none;
    border-radius: 50%;
}
.clock-hand {
    background-color: var(--line-color-orange);
    width: 1px;
    height: calc(0.75 * var(--grid-unit));
    transform-origin: 50% 100%;
    transform: translate(-50%,-100%) rotate(0rad);
}
.icon-play {
    border-top: calc(0.4 * var(--grid-unit)) solid transparent;
    border-bottom: calc(0.4 * var(--grid-unit)) solid transparent;
    border-left: calc(0.4 * 1.732 * var(--grid-unit)) solid var(--line-color-orange); /* times sqrt(3) for equilateral triangle */
    width: 0;
    height: 0;
    left: calc(50% + 0.1 * var(--grid-unit)); /* manually center since 0x0 div doesn't count borders */
    /* left: calc(50% + 0.25 / 1.732 * var(--grid-unit)); /* this is mathematically accurate, but doesn't look as good imo */
}
.icon-pause {
    border-left: calc(0.15 * var(--grid-unit)) solid var(--line-color-orange);
    border-right: calc(0.15 * var(--grid-unit)) solid var(--line-color-orange);
    width: calc(0.6 * var(--grid-unit));
    height: calc(0.75 * var(--grid-unit));
}